@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Outfit:wght@100;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  transition: all 0.2s;
}

*::selection {
  background: #00a3ccd5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #919191;
}

html {
  font-family: Poppins;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #fbfafd;
  color: #262626;
  font-size: 1.15em;
  overflow-x: hidden;
}

b {
  font-weight: 800;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
a:hover {
  color: #00647d;
  text-shadow: 0.1em 0.1em 0.3em #26262635;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0.2em 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

input, select, textarea, button, option {
  outline: 0;
  border-radius: 5px;
  padding: 3px 6px;
  font-family: Poppins;
  font-size: 0.8em;
}

button, input[type=submit] {
  color: #e3e3e3;
  padding: 4px 7px;
  background-color: #00647d;
  border: none;
  cursor: pointer;
}

input[type=checkbox], input[type=radio] {
  cursor: pointer;
}

textarea {
  resize: none;
}